<!DOCTYPE html>
<html ng-app="loginForm">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-controller="mainCtrl as ctrl">


<form  name='signupForm'>
<label>
User Name :.
</label>
<input type="text"
	   class="username"
	   name='uname'
	   ng-model='ctrl.user.username'
	   required>
	   
<label>
password :.
</label>
<input type="text"
	   class="password"
	   name="upass"
	   ng-model="ctrl.user.password"
	   required>
	   
	   <br>
	   
	   <ng-form name="profile">
	   <lable>Enter Full Name :.</lable>
	   <input type="text" 
	   		  ng-model = "ctrl.user.profile.fname" 
	  		  required/>
	  	
	   <lable>Adress :.</lable>
	   <input type="text" 
	   		  ng-model = "ctrl.user.profile.addrss" 
	  		  required/>
	   </ng-form>
	   
	   <br>
	   <span ng-show="signupForm.profile.$invalid"> 
	   Fill All The Information
	   </span>
	   
<input type="button" ng-disabled = "signupForm.$invalid" value="Submit" ng-click='ctrl.submit()'>	   
</form>


</body>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/ng-module.example5.js"></script>
</html>